
<p>@Model["course"].GetName()</p>

@if (@Model["students"].Count != 0)
{
  @foreach (var student in @Model["students"])
  {
  @student.GetEnrollmentDate() <br> <a href="/students/@student.GetId()">@student.GetDescription()</a>
  }
}




<form action="/Tasks/Delete" method="post">
  <button type="submit" class="btn btn-success">Delete All Student</button>
</form>

<form action="/Courses/@Model["course"].GetId()/Delete" method="post">
  <button type="submit" class="btn btn-success">Delete This Courses</button>
</form>

<a href="/Courses">View All Courses</a>
<br>
<a href="/Courses/@Model["course"].GetId()/students/new">Add Student</a>
